.single-thing-pane {
  position: relative;
  width: 60%;
  margin: auto;
  display: flex;
}

img {
  position: relative;
  /*width: 100%;*/
}

.single-thing-info {
  width: 100%;
  padding-left: 15%;
}

.single-thing-price {
  color: #6eb5ff;
}
